@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-Thin.ttf);
}

html {
  -ms-overflow-style: scrollbar;  /* Fixes scrollbar overlapping content in IE */
  overflow-y: scroll;
}

#go-top {
  position: fixed;
  display: inline;
  opacity: 0;
  right: 48px;
  top: 32px;
  color: #c8d0d0;
  font-size: 16px;
  z-index: 10;
  transition: opacity 0.2s ease-in-out;
}

#go-top:hover {
  color: #FFFFFF;
}

body {
  background-color: #3e4e54;
  font-family: "Open Sans", "Droid Sans", Helvetica, sans-serif;
  color: #c8d0d0 !important;
  font-weight: 400;
}

h1 {
  font-size: 48px;
  font-family: "Raleway";
  text-align: center;
  margin-bottom: 40px;
}

p {
  font-size: 20px;
  text-align: center;
}

#header {
  width: 100%;
  height: auto;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex; 
  -webkit-justify-content: space-between;
  justify-content: space-between;
  overflow-x: auto;
  line-height: 48px;
}

.left {
  min-width: 160px;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;  
  -webkit-justify-content: space-around;
  justify-content: space-around;
  padding: 0;
  margin-bottom: 0;
  list-style: none;
}

.right {
  min-width: 280px;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;  
  -webkit-justify-content: space-around;
  justify-content: space-around;
  padding: 0;
  margin-bottom: 0;
  list-style: none;
}


nav a {
  color: #c8d0d0;
  text-decoration: none !important;
  font-size: 16px;
  font-weight: 400;
}

nav a:visited {
  color: #c8d0d0;
}

nav a:focus {
  color: #c8d0d0;
}

nav a:hover {
  color: #FFFFFF;
}

.fa {
  font-size: 18px !important;
}

section {
  display: none;
  padding-top: 50px;
  padding-bottom: 60px;
  width: 100%;
}



section:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.04);
}

#background {
  display: block;
  position: relative;
  overflow: hidden;
}

#background::after {
  content: "";
  background: url("../images/backgroundtest.png");
  position: fixed;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

#intro {
  width: 50%;
  margin: auto;
}

#description {
  width: 80%;
  max-width: 1045px;
  height: 180px;
  margin: 30px auto auto auto;
  display: block;
  border: none;
  opacity: 0.8;
}

#web-development-description {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: none;
  border: 2px solid #2aa198;
  border-radius: 4px;
  overflow: hidden;
}

#web-development-description p {
  max-height: 180px;
  font-size: 15px;
  text-align: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0 20px;
}

#html-description {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: none;
  border: 2px solid #d33682;
  border-radius: 4px;
  overflow: hidden;
}

#html-description p {
  max-height: 180px;
  font-size: 15px;
  text-align: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0 20px;
}

#css-description {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: none;
  border: 2px solid #edac35;
  border-radius: 4px;
  overflow: hidden;
}

#css-description p {
  max-height: 180px;
  font-size: 15px;
  text-align: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0 20px;
}

#javascript-description {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: none;
  border: 2px solid #268bd2;
  border-radius: 4px;
  overflow: hidden;
}

#javascript-description p {
  max-height: 180px;
  font-size: 15px;
  text-align: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0 20px;
}

#jquery-description {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: none;
  border: 2px solid #cb4b16;
  border-radius: 4px;
  overflow: hidden;
}

#jquery-description p {
  max-height: 180px;
  font-size: 15px;
  text-align: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0 20px;
}


#skills {
  text-align:center;
  margin: auto;
  width: 60%;
}

button {
  display: inline-block;
  min-width: 170px;
  margin-top: 2.5%;
  margin-left: 2%;
  margin-right: 2%;
  padding: 6px 12px;
  background-color: transparent;
  color: #c8d0d0;
  font-weight: bold;
  font-size: 16px;
  border: 2px solid;
  border-radius: 4px;
  transition: background-color 0.5s ease-in-out;
}

button:visited {
  color: #c8d0d0 !important;
  box-shadow: none;
}

button:focus {
  outline: none !important;
  color: #FFFFFF !important;
}

button:hover {
  color: #FFFFFF !important;
}


.teal {
  background-color: #2aa198;
} 
.purple {
  background-color: #d33682;
}

.yellow {
  background-color: #edac35;
}

.blue {
  background-color: #268bd2;
}

.orange {
  background-color: #cb4b16;
}


.first-wrapper {
  width: 80%;
  margin: 80px auto auto auto;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;  
  flex-flow: nowrap;
  justify-content: center;
}

.second-wrapper {
  width: 80%;
  margin: auto;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;  
  flex-flow: nowrap;
  justify-content: center;
  margin-bottom: 40px;
}

.project-image {
  position: relative;
  width: 400px;
  height: 200px;
  max-height: 200px;
  margin-top: 40px;
  margin-left: 5%;
  margin-right: 5%;
  background-color: transparent;
  border: none !important;
  border-color: rgba(255, 255, 255, 0.04);
}

.project-image h2 {
  margin: auto;
  text-align: center;
  font-family: "Open Sans", "Droid Sans", Helvetica, sans-serif;
  padding-top: 80px;
  padding-bottom: 80px;
}

.project-image span {
  position: absolute; 
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

#tribute-page {
  display: block;
  position: relative;
  overflow: hidden;
}

#tribute-page::after {
  content: "";
  background: url("../images/tribute-page-sm.png");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
  -webkit-filter: blur(1px) grayscale(100%);
  -moz-filter: blur(1px) grayscale(100%);
  -o-filter: blur(1px) grayscale(100%);
  -ms-filter: blur(1px) grayscale(100%);
  filter: blur(1px) grayscale(100%);
  transition: all 0.5s ease-in-out;
}

#tribute-page:hover::after {
  opacity: 1;
  z-index: 1;
  -webkit-filter: blur(0px) grayscale(0%);
  -moz-filter: blur(0px) grayscale(0%);
  -o-filter: blur(0px) grayscale(0%);
  -ms-filter: blur(0px) grayscale(0%);
  filter: blur(0px) grayscale(0%);
  transition: all 0.5s ease-in-out;
}

#sketch-pad {
  display: block;
  position: relative;
  overflow: hidden;
}

#sketch-pad::after {
  content: "";
  background: url("../images/sketch-pad-sm.png");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
  -webkit-filter: blur(1px) grayscale(100%);
  -moz-filter: blur(1px) grayscale(100%);
  -o-filter: blur(1px) grayscale(100%);
  -ms-filter: blur(1px) grayscale(100%);
  filter: blur(1px) grayscale(100%);
  transition: all 0.5s ease-in-out;
}

#sketch-pad:hover::after {
  opacity: 1;
  z-index: 1;
  -webkit-filter: blur(0px) grayscale(0%);
  -moz-filter: blur(0px) grayscale(0%);
  -o-filter: blur(0px) grayscale(0%);
  -ms-filter: blur(0px) grayscale(0%);
  filter: blur(0px) grayscale(0%);
  transition: all 0.5s ease-in-out;
}

#image-slider {
  display: block;
  position: relative;
  overflow: hidden;
}

#image-slider::after {
  content: "";
  background: url("../images/image-slider-sm.png");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
  -webkit-filter: blur(1px) grayscale(100%);
  -moz-filter: blur(1px) grayscale(100%);
  -o-filter: blur(1px) grayscale(100%);
  -ms-filter: blur(1px) grayscale(100%);
  filter: blur(1px) grayscale(100%);
  transition: all 0.5s ease-in-out;
}

#image-slider:hover::after {
  opacity: 1;
  z-index: 1;
  -webkit-filter: blur(0px) grayscale(0%);
  -moz-filter: blur(0px) grayscale(0%);
  -o-filter: blur(0px) grayscale(0%);
  -ms-filter: blur(0px) grayscale(0%);
  filter: blur(0px) grayscale(0%);
  transition: all 0.5s ease-in-out;
}

#twitch-placeholder {
  display: block;
  position: relative;
  overflow: hidden;
}

#twitch-placeholder::after {
  content: "";
  background: url("../images/twitch-placeholder-sm.png");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
  -webkit-filter: blur(1px) grayscale(100%);
  -moz-filter: blur(1px) grayscale(100%);
  -o-filter: blur(1px) grayscale(100%);
  -ms-filter: blur(1px) grayscale(100%);
  filter: blur(1px) grayscale(100%);
  transition: all 0.5s ease-in-out;
}

#twitch-placeholder:hover::after {
  opacity: 1;
  z-index: 1;
  -webkit-filter: blur(0px) grayscale(0%);
  -moz-filter: blur(0px) grayscale(0%);
  -o-filter: blur(0px) grayscale(0%);
  -ms-filter: blur(0px) grayscale(0%);
  filter: blur(0px) grayscale(0%);
  transition: all 0.5s ease-in-out;
}

#contact-form {
  width: 25%;
  margin: auto;
}

input {
  height: 45px;
  width: 100%;
  padding: 6px 0;
  border-radius: 0;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #c8d0d0;
  background-color: transparent;
  color: #c8d0d0;
  word-wrap: break-word !important; 
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #3e4e54 inset;
    -webkit-text-fill-color: #c8d0d0;
}

input:focus {
  outline: none;
}

input:focus::-webkit-input-placeholder { 
  color: transparent;
}
input:focus:-moz-placeholder { 
  color: transparent;
} 
input:focus::-moz-placeholder { 
  color: transparent;
}
input:focus:-ms-input-placeholder { 
  color: transparent;
}

textarea {
  min-height: 100px;
  width: 100%;
  padding: 12px 0;
  border-radius: 0;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #c8d0d0;
  background-color: transparent;
  color: #c8d0d0;
  word-wrap: break-word !important;
  resize: none;
}

textarea:focus {
  outline: none;
}

textarea:focus::-webkit-input-placeholder { 
  color: transparent;
}
textarea:focus:-moz-placeholder { 
  color: transparent;
} 
textarea:focus::-moz-placeholder { 
  color: transparent;
}
textarea:focus:-ms-input-placeholder { 
  color: transparent;
}

#submit {
  margin: 10px 0 0 0;
  border-color: #268bd2 !important;
}

.panel-body {
  border-top: 1px solid;
  border-color: rgba(255, 255, 255, 0.04);
}

.panel-body a {
  text-decoration: none !important;
}

.panel-body a:visited {
  color: #337ab7;
}

.panel-body a:focus {
  color: #337ab7;
}

.panel-body a:hover {
  color: #268bd2;
}


@media all and (max-width: 1000px) {
  #contact-form {
    width: 40%;
  }
}

@media all and (max-width: 800px) {
  #description p {
    font-size: 14px;
  }
}

@media all and (max-width: 640px) {
  #go-top {
    display: none;
  }

  #intro {
    width: 100%;
  }

  h1 {
    font-size: 36px;
  }

  p {
    font-size: 16px;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
  }

  #description {
    width: 95%;
    margin-bottom: 25px;
    height: 200px;
  }

  #description p {
    text-align: left;
    margin: 0;
  }

  #web-development-description {
    overflow: auto;
  }

  #html-description {
    overflow: auto;
  }

  #css-description {
    overflow: auto;
  }

  #javascript-description {
    overflow: auto;
  }

  #jquery-description {
    overflow: auto;
  }
 
  #skills {
    width: 80%;
  }

  .first-wrapper {
    width: 100%;
    flex-flow: row wrap;
    margin-top: 40px;
  }

  .second-wrapper {
    width: 100%;
    flex-flow: row wrap;
  }

  #contact-form {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

