body {
  background-color: #3e4e54;
  font-family: Arial, Helvetica, sans-serif;
  color: #c8d0d0 !important;
  font-weight: 400;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}

p {
  font-size: 20px;
  text-align: center;
}

nav {
  line-height: 48px;
  min-height: 48px;
  min-width: 100%;
  /*border-bottom: 1px solid;
  border-color: rgba(255, 255, 255, 0.04);*/
}

nav > .container {
  padding: 0;
}

.left {
  float: left;
  padding: 0;
}

.right {
  float: right;
  padding: 0;
}

.left li {
  float: left;
}

.right li {
  float: right;
}

nav li {
  display: inline-block;
  list-style: none;
  text-align: center;
}

nav a {
  color: #c8d0d0;
  text-decoration: none !important;
  font-size: 16px;
  font-weight: 400;
}

nav a:hover {
  color: #FFFFFF;
}

/*#about {
  padding-top: 0;
}

#header {
  margin-bottom: 60px;
}*/

section {
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
}

section:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.04);
}

#background {
  display: block;
  position: relative;
}

#background::after {
  content: "";
  background: url(https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-49116.png);
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
  -webkit-filter: blur(2px) grayscale(100%);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px) grayscale(100%);
}

#intro {
  float: none;
}

#skills {
  margin: 0 auto;
  padding: 140px 0 0 0;
  width: 60%;
}

button {
  min-width: 167px;
  float: none !important;
  margin-top: 2.5%;
  margin-left: 2.5%;
  background-color: transparent;
  color: #c8d0d0;
  text-align: center;
  word-wrap: break-word !important;
  white-space: normal !important;
  font-weight: bold !important;
  font-size: 16px !important;
  border: 2px solid !important;
}

button:hover {
  color: #FFFFFF !important;
}

.thumbnail {
  max-height: 250px;
  max-width: 400px;
  margin: 40px auto;
  opacity: 0.8;
  background-color: transparent;
  border: 2px solid;
  border-color: rgba(255, 255, 255, 0.04);
}

.thumbnail:hover {
  opacity: 1;
  border: 2px solid #c8d0d0;
}

.thumbnail .caption {
  padding: 4px;
  font-size: 13px;
  font-weight: bold;
  color: #c8d0d0;
}

#contact-form {
  float: none !important; 
}

input {
  height: 45px;
  width: 100%;
  padding: 6px 0;
  border-radius: 0;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #c8d0d0;
  background-color: transparent;
  color: #c8d0d0;
  word-wrap: break-word !important;
}

input:focus {
  outline: none;
}

input:focus::-webkit-input-placeholder { 
  color: transparent;
}
input:focus:-moz-placeholder { 
  color: transparent;
} 
input:focus::-moz-placeholder { 
  color: transparent;
}
input:focus:-ms-input-placeholder { 
  color: transparent;
}

textarea {
  min-height: 100px;
  width: 100%;
  padding: 12px 0;
  border-radius: 0;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #c8d0d0;
  background-color: transparent;
  color: #c8d0d0;
  word-wrap: break-word !important;
  resize: vertical;
}

textarea:focus {
  outline: none;
}

textarea:focus::-webkit-input-placeholder { 
  color: transparent;
}
textarea:focus:-moz-placeholder { 
  color: transparent;
} 
textarea:focus::-moz-placeholder { 
  color: transparent;
}
textarea:focus:-ms-input-placeholder { 
  color: transparent;
}

#submit {
  margin: 10px 0 0 0;
  border-color: #268bd2 !important;
}

.panel-body {
  border-top: 1px solid;
  border-color: rgba(255, 255, 255, 0.04);
}

.panel-body a {
  text-decoration: none !important;
}

.panel-body a:hover {
  color: #268bd2;
}
